.furnitureBox{
  width: 100%;
  height: 100%;
  /*轮播1*/
  .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  /*nav*/
  .nav{
    padding: .5rem;
    height: 4rem;
    font-size: 0;
    li{
      float: left;
      margin:.2rem .6rem;
      width: .92rem;
      height: 1.2rem;
      img{
        display: block;
        width: .8rem;
        height: .7rem;
        margin-left:.1rem;
      }
      p{
        font-size: .3rem;
        width: 1rem;
        height: .4rem;
        line-height: .4rem;
        text-align: center;
        margin-top:.1rem;
        color: #000;
      }
    }
  }
  /*hot-link*/
.hot-link{
  height: .6rem;
  width: 100%;
  background: #e5e5e5;
  display: block;
  padding:.1rem .5rem;
  img{
    height: .4rem;
    width: .4rem;
    margin-bottom:.1rem;
  }
  h4{
    display:inline;
    font-size: .3rem;
    margin:0 .5rem 0 .08rem;
  }
  span{
    color: #00000050;
    font-size:.24rem;
  }
  i{
    float: right;
    font-size: .3rem;
    color: #00000050;
    margin-top: .1rem;
  }
}
.recommend{
  overflow: hidden;
  width: 100%;
  height: 2.7rem;
  margin:.2rem 0;
  ul{
    width:5.2*5rem;
    li{
      float: left;
      width: 4rem;
      height: 2.7rem;
      margin:0 .1rem;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}

  .recommend-body{
    width: 100%;
    padding:0 .4rem;
    li{
      float: left;
      height: 2rem;
      width: 3.15rem;
      margin: .1rem;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .design-title{
    text-align: center;
    width: 100%;
    height: .5rem;
    padding: .02rem;
    margin:.5rem 0;
    i{
      display: inline-block;
      background: #f4cd52;
      width: .1rem;
      height: .4rem;
      margin-right:.14rem;
      vertical-align: middle;
    }
    span{
      display: inline-block;
      font-size:.36rem;
      color: #000;
      font-weight:bold;
      vertical-align: middle;
    }
  }
  .design-top{
    width: 6.47rem;
    height: 2.6rem;
    margin:0 auto;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .design-bot{
    width: 6.5rem;
    height: 1.4rem;
    margin:.2rem auto;
    li{
      float: left;
      width: 2rem;
      height: 1.4rem;
      margin-right: .233rem;
      &:last-child{
        margin-right:0;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
