.shopcartBox{
        box-sizing: border-box;
         height:calc( 100% - 2rem);
         padding: .2rem;
         overflow: scroll;
          margin-bottom: 2rem;
        background: #eeeeee50;
        h3{text-align: center;
            line-height: 1rem;
            background: #fff;
            font-weight: bold;
            font-size: .3rem;
            position: relative;
            span{
                position: absolute;
                font-size: .3rem;
                color: #333;
               right: .3rem;
            }
            }
}


.shopItem_empty{
    text-align: center;
    line-height: .7rem;
    height: 100%;
    color: #999;
    box-sizing: border-box;
    div{
         padding-top: 3.5rem;
    }
    i{font-size: 1rem;}
    span{display: block;}
}

.shopItem{
        dl{
        display: flex;
        justify-content: space-around;
        height: 2rem;
        background: #fff;
        margin: .3rem 0;
        
        dt{padding:0 .3rem;
           width:35%;
           height: 2rem;
           box-sizing: border-box;
           flex-shrink: 0;
           overflow: hidden;
           img{width: 100%;
               height: 100%;
                display: inline;}
            }   
        dd{
            line-height: .3rem;
           
            p{
                height: .6rem;
                overflow: hidden;
                width: 4rem;
              }
            p.edit{width: 3rem;}  
            .ant-checkbox-wrapper{margin: 0;  padding: 0;}  
            .ant-checkbox{margin: 0;  padding: 0;}
            span{color: #f00;
                font-weight: bold;}  
            button{background: #f00;
                   width: .9rem;
                   color: #fff;
                   border: none; 
                   height: 100%;
                   margin-left: .2rem;}             
        }
        .check{box-sizing: border-box;
                padding: .5rem 0;
                text-align: center;
                 flex-shrink: 0;}   
    }
    
}

.shopcartSum{position: fixed;
             bottom: 1.06rem;
             display: flex;
             justify-content: space-between;
             width: 100%;
             padding: .2rem .4rem;
             box-sizing: border-box;
             background: #fff;
             align-content: center;
             form{
                padding-top: .25rem;
                
             }
             button{
                 margin-top: .2rem; }
             div{text-align: center;
                  span{color: red;}  
             }   
        }

//未登录样式
.notLogin{
    background: url(../images/shopcart_bg1.png) no-repeat 70% 60%;
    background-color: #eeeeee50 ;
    background-size:50% ;
    height: calc(100% - 1rem);
    text-align: center;
   
    h3{text-align: center;
    line-height: 1rem;
    background: #fff;
    font-weight: bold;
    font-size: .3rem;
    }
    a{color: #000000;
       font-size: .28rem;
       line-height: 1rem;}
    div{height: 1.3rem;}        
        
}
