.shopcartBox{
        box-sizing: border-box;
         height: 100%;
         padding: .2rem;
         overflow: scroll;
          margin-bottom: 2rem;
        background: #eeeeee50;
        h3{text-align: center;
            line-height: 1rem;
            background: #fff;
            font-size: .4rem;
            position: relative;
            span{
                position: absolute;
                font-size: .3rem;
                color: #333;
               right: .3rem;
            }
            }
}


.shopItem_empty{
    text-align: center;
    line-height: .7rem;
    height: 100%;
    color: #999;
    box-sizing: border-box;
    div{
         padding-top: 3.5rem;
    }
    i{font-size: 1rem;}
    span{display: block;}
}

.shopItem{
        dl{
        display: flex;
        justify-content: space-around;
        height: 2rem;
        background: #fff;
        margin: .3rem 0;
        
        dt{padding:0 .3rem;
           width:35%;
           height: 2rem;
           box-sizing: border-box;
           flex-shrink: 0;
           overflow: hidden;
           img{width: 100%;
               height: 100%;
                display: inline;}
            }   
        dd{
            line-height: .3rem;
           
            p{
                height: .6rem;
                overflow: hidden;
                width: 4rem;
              }
            p.edit{width: 3rem;}  
            .ant-checkbox-wrapper{margin: 0;  padding: 0;}  
            .ant-checkbox{margin: 0;  padding: 0;}
            span{color: #f00;
                font-weight: bold;}  
            button{background: #f00;
                   width: .9rem;
                   color: #fff;
                   border: none; 
                   height: 100%;
                   margin-left: .2rem;}             
        }
        .check{box-sizing: border-box;
                padding: .5rem 0;
                text-align: center;
                 flex-shrink: 0;}   
    }
    
}

.shopcartSum{position: fixed;
             bottom: 1.06rem;
             display: flex;
             justify-content: space-between;
             width: 100%;
             padding: .2rem .4rem;
             box-sizing: border-box;
             background: #fff;
             align-content: center;
             form{
                padding-top: .25rem;
                
             }
             button{
                 margin-top: .2rem; }
             div{text-align: center;
                  span{color: red;}  
             }   
        }

//未登录样式
.notLogin{
    background: #eeeeee38;
    padding:;
    height: 100%;
    padding: 0 .5rem;
    h3{text-align: center;
    line-height: 1rem;
    font-size: .4rem;
    margin-top: .3rem;}
    div{height: 1.3rem;}        
        
}
//支付页面
.payBox{
  background: #00000010;
  width: 100%;
  .head{
    height: .8rem;
    text-align: center;
    font-size: .4rem;
    background: #ffffff;
    margin-bottom:1px;
  }
  .self{
    width: 100%;
    height: 1.5rem;
    padding: .1rem;
    background: #fff;
    margin-bottom:6px;
    border-bottom:1px solid red;
    p{
      font-size: .3rem;
      font-weight:550;
    }
    span{

    }
  }
  .title{
    color: #000;
    font-size: .35rem;
    height: .8rem;
    line-height: .8rem;
    background: #fff;
    margin-bottom:1px;
  }
  .list{
    width: 100%;
    margin-bottom: 10px;
    li{
      height: 1.5rem;
      width: 100%;
      background: #fff;
      margin-bottom: 1px;
      padding: .1rem 0;
       img{
         height: 1.2rem;
         width: 1.2rem;
         float: left;
         margin:0 .5rem ;
       }
      .right{
        float: left;
        p{
          font-weight:550;
          margin-bottom:0;
        }
        span{
          color: #00000070;
          font-size: .2rem;
        }
        b{
          color: orangered;
          font-weight:normal;
        }
      }

    }
  }
  .peishong{
    width: 100%;
    height: 1.2rem;
    background: #fff;
    margin-bottom: 1px;
    .left{
      float: left;
      padding:.1rem .1rem;
      h5{
        font-size: .3rem;
      }
    }
    .right{
      padding:.1rem 0;
      h6{
        text-align: center;
        font-size: .22rem;
      }
      float: right;
    }
  }
  .tuihuan{
    width: 100%;
    height: 1.1rem;
    background: #fff;
    margin-bottom: 10px;
    .left{
      float: left;
      padding:.1rem .1rem;
      h5{
        font-size: .3rem;
      }
    }

  }
  .price{
    background: #fff;
    padding: .2rem .1rem ;
    .top{
      h4{
        float: left;
        font-weight: 500;
        font-size: .25rem;
        color: #000;
      }
      span {
        float: right;
        font-size: .3rem;
        color: red;
      }
    }
    .mid{
      h4{
        float: left;
        font-weight: 500;
        font-size: .25rem;
        color: #000;
        span{
          font-size:.22rem;
          color: #00000070;
        }
      }
      span {
        float: right;
        font-size: .3rem;
        color: red;
      }
    }
    .bot{
      h2{
        float: right;
        font-weight:bold;
      }
      span {
        float: right;
        font-size: .3rem;
        color: red;
        font-weight: normal;
      }
    }

  }
  .end{
    Button{
      float: right;
      margin: .1rem .05rem;
    }
  }
}
